
$headerColor:#0c2c5b;
$list-row-color:#E4E4E4;
$border-color: #CCCCCC;
$side-bar-even-rows: #fff;
$side-bar-odd-rows: #f4f4f4;
$positive-value: #57cb12;
$negative-value: #ff5843;
$null-value: #6A6A6A;

.bold-font {
  font-family:'Lato-Bold';
}

.Landing {
  width: 100vw;
  min-height:20vh;
  background-color: #E1E7EC;

  // header bar style begins
  .header-bar {
    width: 100vw;
    height: 10vh;
    background-color: $headerColor;
    display: flex;
    align-items: center;

    padding:5vh 10vw 5vh 10vw;
    .dropdown-toggle {
      background-color:white;
      border: none;
      padding: 5%;
      padding-left:7%;
      font-size:1vw;
      min-width: 12vw;
      text-align: left;
      display:flex;
      align-items:center;
      .caret {
    border-style: solid;
    border-width: 0.6vw 0.6vw 0.6vw 0;
    border-color: transparent $headerColor  transparent transparent;
    position: absolute;
    transform: rotate(-90deg);
    right: 7% !important;
    top:30% !important;

      }
    }
    .dropdown-menu {
      min-width: 100%;
      padding: 10px;
      li {
        font-size:1vw;
        padding-bottom:5px;
      }
    }

    .logo {
      width: 100vw;
      height:10vh;
      position: absolute;
      left:0;
      display:flex;
      align-items:center;
      justify-content: center;


      img {
        width:15%;
      }
    }

  .download-btn {
    background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 2.4vw;
  height: 2.4vw;
  display: flex;
  margin-left:1vw;
  align-items: center;
  justify-content: center;
    }
    .upload-img {
      width: 60%;
    }
  }
  //headerbar style ends
  //

    //dropdownbar style starts
    .dropdown-bar {
      width: 100%;
      height: 7vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .dropdown-btn {
        background-color: white;
        margin-right: 20px;
        height: 50%;
        width:13vw;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
        border-radius:5px;
        .btn-default.dropdown-toggle:hover,
        .open > .btn-default.dropdown-toggle:focus,
        .open > .btn-default.dropdown-toggle.focus {
          background-color: transparent;
          outline: none;
        }
      }
      .dropdown-menu {
        min-width: 100%;

        li {
          font-size:1vw;
          padding-bottom:5px;
        }
      }
      .dropdown-toggle {
        border: none;
        margin:auto;
        height:100%;
        font-size: 0.8vw;
        padding-left:7%;
        .caret {
      border-style: solid;
      border-width: 0.4vw 0.4vw 0.4vw 0;
      border-color: transparent black  transparent transparent;
      position: absolute;
      transform: rotate(-90deg);
      right: 7% !important;
      top:30% !important;

        }
      }
    }
    //dropdownbar style ends
    //
    //topbar style begins
         .top-bar {
            width:100%;
            height:12%;
            background-color: $headerColor;
            display:flex;
            color:white;
            align-items: center;

            padding:15px;
            .title {
              width:10%;
              font-size:1vw;
            }

            .share-items {
              display:flex;
              flex-direction:column;
              border-left:1px solid rgba(255,255,255,0.2);
              width:20%;
            }
            .item-desc {
              display:flex;
              flex-direction:row;
              flex:1;
              padding-left:1vw;
              font-size:1.7vw;
            }
            .item-icon{
              display:flex;
            align-items:center;
            justify-content: flex-end;
            margin-right:2vw;
            flex:1;
            img {
              width:28%;
            }

            }
            .compared-value{
              font-size:0.9vw;

              color:#A9A9A9;
              padding-left:1vw;
            }

          }

          // topbar style ends
    .units {
      height: 10vh;
    }

  .tab-list {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    border-bottom: 2px solid $border-color;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    background-color: #f6f6f6;
    .title {
      width:10%;
    }
    .tab-label {
      font-size: 1vw;;
    }
    .share-items {
      display:flex;
      border-left:1px solid $list-row-color;
      width:20%;

    }
    .tab-items {
      // padding: 17px;
      height:100%;
    }
    .selected-tab-negative {
      background-color: white;
      border-bottom: 0.5vh solid $negative-value;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      position:relative;
      &:before {
      content: " ";
       border-style: solid;
       border-width: 0.7vw 0.7vw 0.7vw 0;
       border-color: transparent $negative-value  transparent transparent;
       position: absolute;
       bottom: -10%;
       transform: rotate(-270deg);
       left: 50%;
      }
    }
     .selected-tab-positive {
      background-color: white;
      border-bottom: 0.5vh solid $positive-value;
      position:relative;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      &:before {
      content: " ";
       border-style: solid;
       border-width: 0.7vw 0.7vw 0.7vw 0;
       border-color: transparent $positive-value  transparent transparent;
       position: absolute;
       bottom: -10%;
       transform: rotate(-270deg);
       left: 50%;
      }
    }
     .selected-tab-zero {
      background-color: white;
      border-bottom: 0.5vh solid $null-value;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      position:relative;
      &:before {
      content: " ";
       border-style: solid;
       border-width: 0.7vw 0.7vw 0.7vw 0;
       border-color: transparent $null-value  transparent transparent;
       position: absolute;
      bottom: -10%;
       transform: rotate(-270deg);
       left: 50%;
      }
    }
    .item-desc {
      display:flex;
      flex-direction:column;
      flex:1;
      align-items:flex-start;
      padding-left:5%;
      justify-content: center;
      font-size:1.5vw;

    }
    .item-icon{
      display:flex;
      align-items:center;
      justify-content: center;
      flex:1;

      img {
        width:25%;
      }

    }
  }
  .share-items:first-child {
    border-left:none;
    color: #ff5843;
  }
  .share-items:second-child {
    color: #57CB12;
  }
  .btn-add {
    border-radius: 24px;
    font-size: 0.56vw;
    line-height: 30%;
    float: right;
    background-color: #47c18f;
    margin-right: 10%;
    color:white;
  }
  .content {
    width: 80vw;
    margin-left: 10vw;
  }
  .watchlist-addItems {
    background-color: $side-bar-even-rows;
    font-size:0.97vw;
    .watchlist-buttons {
      border-top: 1px solid $border-color;
      width: 100%;
      height: 5vh;
      display: flex;
      align-items: center;
    }
  }
  .btn-clear {
    line-height: 25%;
    margin-left: 20%;
    flex: 1;
    text-decoration: none;
  }
  .btn-clear:hover,
  .btn-clear:focus {
     color: #000;
    }
  .sku-selectlist {
    margin-left: 5%;
  }
  .sku-checkbox {
    margin-right: 5%;
  }
  .skuSearch {
    background-color: $side-bar-odd-rows;
    line-height:1.74vw;
    span {
      margin: 5%;
    }
  }
  .skuSearchBox {
    border:1px solid $border-color;
    width:60%;
    height: 1.1vw;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .closeSku {
    margin: 3%;
    line-height: 50%;
    font-size: 1.4vw;
  }
  .disabled {
    opacity: 0.65; 
    cursor: not-allowed;
  }
  .btn-add:hover {
   color: white;
  }
  .left-bar {
    height: 95vh;
    flex:1;
    margin-top: 2vh;
    .wishlist {
      width: 100%;
      height: 55%;
      margin-top: 8%;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    .item-value {
      float: right;
      padding-right: 5px;
     }
    .wishlist-items {
       height: 91%;
       overflow-y: scroll;
    }
.wishlist-row {
   font-size: 0.97vw;
   display: flex;
   align-items: center;
   padding: 0.5vw 0 0.5vw 1vw;
  }
  ::-webkit-scrollbar {
    display: none;
   }
    }
    .title {
      width: 100%;
      height: 5vh;
      background-color: $headerColor;
      display: flex;
      font-size:0.97vw;
      align-items: center;
      padding-left: 1vw;
      color: white;
      .title-name {
        flex: 1;
      }
    }
    .SKU-group {
      width: 100%;
      height: 42%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);;
      border-radius: 5px;
      overflow: hidden;
    }
    .more-info {
      width: 100%;
      height: 20%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      margin-top: 5%;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .sku-list {
      font-size: 1.1vw;
      display: flex;
      align-items: center;
      padding: 5px 0px 5px 5px;
      color: $null-value;
      background: $side-bar-odd-rows;
    }
  .wishlist-row:nth-child(even) {
    background: $side-bar-even-rows;
  }
  .sku-row:nth-child(even) {
    background: $side-bar-even-rows;
  }
  .wishlist-row:nth-child(odd) {
    background: $side-bar-odd-rows;
  }
  .sku-row:nth-child(odd) {
    background: $side-bar-odd-rows;
  }
  .new-spp {
    background: $side-bar-odd-rows;
  }
  .launch {
    background: $side-bar-even-rows;
  }
  .wishlist-row {
     font-size: 10px;
     display: flex;
     align-items: center;
     padding: 7.5px 0px 8px 5px;
  }
  .sku-row {
    font-size: 0.97vw;
     display: flex;
     align-items: center;
     padding: 0.7vw 0 0.5vw 1vw;;
  }
  .item-name {
    flex: 2;
  }
  .item-value {
    flex: 1;
    text-align: center;

  }
 .wishlist-items {
    height: 91%;
    overflow-y: scroll;
 }
 .sku-items {
    height: 89%;
    overflow-y: scroll;
 }
  ::-webkit-scrollbar {
    display: none;
  }
  .new-brand {
    height: 37%;
    font-size: 0.97vw;
    border-bottom: 2px solid $list-row-color;
    padding: 5px;
    padding-left:1vw;
  }
  .view-details-link {
    font-size: 0.7vw;
    color: blue;
    
  }
  .positive-value {
    color: $positive-value;
  }
  .negative-value {
    color: $negative-value;

  }

  .null-value {
    color:$null-value;;
  }
  .content-container {
    height: 130vh;
    margin-left: 1%;
    margin-top: 2vh;
    margin-bottom:20px;
    flex:5;
    .title {
      font-size:1vw;
      display:flex;
      justify-content:center;
      align-items:center;

    }
    .sub-title {
      font-size:1vw;
      margin:1vh 0 1.7vh 0.5vh;
    }
    .highmaps-container {
      width: 100%;
      height: 72%;
      background-color:rgb(255,255,255);
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
      border-radius:5px;
      overflow:scroll;
      .market-list {
        display:flex;
        flex:2;
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;


      }
      .archetype-brand-names {
        display:inline-block;
      }
      .circle {
        width:10px;
        height:10px;
        border-radius:50%;
        background-color:red;
        margin:5px 10px 10px 10px;
      }

      .dropdown-bar {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: flex-start;

        padding-left:1vw;
        .dropdown-btn {
          border:0.5px solid #B7B7B7;
          background-color: white;
          margin-right: 20px;
          height: 40%;
          width:15vw;
          box-shadow: none;
          border-radius:5px;
          .btn-default.dropdown-toggle:hover,
          .open > .btn-default.dropdown-toggle:focus,
          .open > .btn-default.dropdown-toggle.focus {
            background-color: transparent;
            outline: none;
          }
        }
        .dropdown-menu {
          min-width: 100%;

          li {
            font-size:1vw;
            padding-bottom:5px;
          }
        }
        .dropdown-toggle {
          border: none;
          margin:auto;
          height:100%;
          font-size: 0.8vw;
          .caret {
        border-style: solid;
        border-width: 0.4vw 0.4vw 0.4vw 0;
        border-color: transparent black  transparent transparent;
        position: absolute;
        transform: rotate(-90deg);
        right: 1% !important;
        top:30% !important;

          }
        }
      }


    }
    .highchart-container{
      width: 100%;
      height: 28%;
      margin-top:12px;
      background-color:white;
      border-radius:5px;
      padding:10px;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

      .legend-holder {
        display:flex;
        justify-content: space-between;
      }
      .legend {
        display:flex;flex-direction:row;justify-content:center;align-items:center;
        font-size:1vw;
        padding-right:5%
      }
      .black-line,.blue-line{
        width:20px;
        height:1px;
        margin:0 10px 0 10px;
        background-color: black;
      }
      .blue-line{
          background-color: rgb(104,163,234);
      }
      .gray-line{
        font-size:20px;
        color:gray;
        margin:0 10px 0 10px;
      }
    }
  }
}
