<div class="Landing">
  <div class="header-bar">
    <div class="dropdown dropdown-btn">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="bold-font">{{main.week}}</span>
        <span class="caret " style="position:absolute;right:0;top:10px;margin-right:10px"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropDown">
        <li ng-click="main.setCategory(list)" ng-repeat="list in main.weeks track by $index">{{list}}</li>
      </ul>

    </div>
    <div class="header-right">
      <div class="download-btn justify-center">
        <img class="upload-img" src="assets/images/landing/Upload-btn.png" alt="">
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/landing/usstc-logo-white.png" alt="">
    </div>

  </div>
  <div class="content">
  <div class="dropdown-bar">
    <div ng-repeat="btn in main.dropdownBtns" class="dropdown dropdown-btn">
      <button class="btn btn-default dropdown-toggle" type="button" id="{{btn.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{main.drop1[$index]}}
        <span class="caret " style="position:absolute;right:0;top:10px;margin-right:10px"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="{{btn.id}}">
        <li ng-click="main.setCategory1(list,btn.index)" ng-repeat="list in btn.category">{{list}}</li>
      </ul>
    </div>
  </div>

  <div class="units">
    <div class="tab-list">
        <div class="share-items tab-items" ng-repeat="item in main.tabList" ng-class="{'selected-tab-positive' : item.value > 0 && main.active[$index] == 1, 'selected-tab-negative' : item.value < 0 && main.active[$index] == 1,'selected-tab-zero' : item.value == 0 && main.active[$index] == 1}" ng-click="main.getSelectedClass(item.value,$index)">
          <div class="item-desc">
	          <div class="tab-value bold-font" ng-class="main.getFontClass(item.value)">{{main.getStringValue(item.value)}}%</div>
	          <div class="tab-label" ng-class="main.getFontClass(item.value)">{{item.label}}</div>
      	  </div>
          <div class="item-icon"><img ng-src="{{main.getImage(item.value)}}" alt=""></div>
        </div>
    </div>
  </div>
  <div style="display:flex;flex:1;flex-direction:row;">
    <div class="left-bar">
      <div class="SKU-group" ng-show="!main.subgroups">
        <div class="title">SKU Groups</div>
        <div class="sku-items">
	        <div ng-repeat="item in main.skuGroup" class="sku-row" ng-click="main.getSubcategories(item.id)">
	            <span class="item-name">{{item.name}}</span>
	            <span class="item-value" ng-class="main.getFontClass(item.value)">{{main.getStringValue(item.value)}}</span>
	        </div>
	     </div>
	   </div>
	   <div class="SKU-group" ng-show="main.subgroups">
	    <div class="title">SKU's</div>
        <div class="sku-items">
        	<div class="sku-list">
	        	<span class="item-name"ng-click="main.skuGroups()">&lt; {{main.skuGroup[main.skuid].name}}</span>
	        	<span class="item-value" ng-class="main.getFontClass(main.skuGroup[main.skuid].value)">{{main.getStringValue(main.skuGroup[main.skuid].value)}}</span>
        	</div>
	       <div ng-repeat="item in main.skuGroup[main.skuid].subCategory" class="sku-row">
	            <span class="item-name">{{item.name}}</span>
	            <span class="item-value" ng-class="main.getFontClass(item.value)">{{main.getStringValue(item.value)}}</span>
	        </div>
	     </div>
      </div>
      <div class="wishlist">
        <div class="title">
        	<span class="title-name">Watchlist</span>
        	<button type="button" class="btn btn-add" ng-click="main.addItemToWatchlist()" ng-disabled="!main.existingWatchlist">ADD +</button>
        </div>
         <div class="wishlist-items" ng-show="main.existingWatchlist">
             <div ng-repeat="item in main.watchList track by $index" class="wishlist-row">
                  <span class="item-name">{{item.name}}</span>
                  <span class="item-value" ng-class="main.getFontClass(item.value)">{{main.getStringValue(item.value)}}</span>
                  <a href="#" class="close closeSku" data-dismiss="alert" aria-label="close" ng-click="main.removeSku(item)">&times;</a>
             </div>
         </div>
         <div class="watchlist-addItems" ng-show="!main.existingWatchlist">
          <a href="#" class="close closeSku" data-dismiss="alert" aria-label="close" ng-click="main.closeAddSku()">&times;</a>
            <div class="skuSearch">
              <span>SKU </span>
                <input type="text" ng-model="searchSku" class="skuSearchBox">
            </div>
             <div ng-repeat="item in main.skuWishList | filter:searchSku">
              <form class="sku-selectlist">
                  <input type="checkbox" value="{{item.name}}" ng-model="item.selected" class="item-name sku-checkbox">{{item.name}}
              </form>
             </div>
             <div class="watchlist-buttons">
                  <a href="#" class="btn-clear" ng-click="main.clearSku()">Clear All</a>
                  <button type="button" class="btn btn-add" ng-click="main.addSku()">ADD SKUs</button>
             </div>
         </div>
      </div>
      <div class="more-info">
        <div class="title">{{main.getMonYear()}}</div>
	        <div class="new-brand launch">
	        	<span>New brand launch </span>
	        	<div><a href="#" class="view-details-link">VIEW DETAILS</a></div>
	        </div>
	        <div class="new-brand new-spp">
	        	<span>SPP in NE +.50 </span>
	        	<div><a href="#" class="view-details-link">VIEW DETAILS</a></div>
	        </div>
      </div>
    </div>
  <div class="content-container">
    <div class="highmaps-container">
      <div class="top-bar">
          <div class="title bold-font">MARKET <br/> SHARE</div>
          <div class="share-items" ng-repeat="item in main.marketShare">
            <div class="item-desc bold-font">
              <div class="market-share">{{item.value}}</div>

            <div class="item-icon"><img src="{{item.icon}}" alt=""></div></div>
             <div class="compared-value">{{item.comparedValue}}</div></div>

      </div>
      <div class="dropdown-bar market-list">
        <p class="sub-title bold-font">Market share change</p>
        <div style="display:flex;flex-direction:row">
          <div ng-repeat="btn in main.shareDropDowns" class="dropdown dropdown-btn">
            <button class="btn btn-default dropdown-toggle" type="button" id="{{btn.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{drop2[$index]}}
              <span class="caret " style="position:absolute;right:0;top:10px;margin-right:10px"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="{{btn.id}}">
              <li ng-click="main.setCategory2(list,btn.index)" ng-repeat="list in btn.category">{{list}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div ng-if=main.archetype>
        <div class="archetype-brand-names" ng-repeat="brand in main.brandNames">
          <div style="display:flex;flex-direction:row"><div style=" background-color:{{brand.color}}"class="circle"></div>
          <div style="width:200px">{{brand.name}}</div></div>
        </div>
      </div>
      <div id="usMaps"></div>

    </div>
    <div class="highchart-container">
      <div class="legend-holder"><p class="title">Historical and forecasted share </p>
      <div class="legend">
        <div class="black-line"></div><div>2015</div>
        <div class="blue-line"></div><div style="color:rgb(104,163,234)">2016</div>
        <div class="gray-line">--</div><div>Forecast</div>
      </div></div>
      <div id="lineChart"></div>
    </div>
  </div></div>
  </div>
</div>
